In [1]:
import numpy as np
import pandas as pd

In [2]:
data7 = {'year':[10,11,12,11,12,10,11,12],
         'team':['CSK','MI','MI','SRH','KKR','CSK','CSK','CSK'],
         'wins':[11,8,10,15,11,6,10,4],
         'losses':[5,8,6,1,5,10,6,12]}
ipl = pd.DataFrame(data7)
display(ipl)

   year team  wins  losses
0    10  CSK    11       5
1    11   MI     8       8
2    12   MI    10       6
3    11  SRH    15       1
4    12  KKR    11       5
5    10  CSK     6      10
6    11  CSK    10       6
7    12  CSK     4      12

## Returns columns (Indices Technically) in the dataframe

In [3]:
print(ipl.columns)

Index(['year', 'team', 'wins', 'losses'], dtype='object')

### Returns Shape of the dataframe (rows, columns(indices))

In [4]:
print(ipl.shape)

(8, 4)

### Returns the size of the dataframe

In [5]:
print(ipl.size)

32

## Check if the dataframe is empty
#### Return True if empty
#### Else False

In [6]:
print(ipl.empty)

False

In [10]:
print(ipl.sort_values(by=["wins"], ascending= False))

   year team  wins  losses
3    11  SRH    15       1
0    10  CSK    11       5
4    12  KKR    11       5
2    12   MI    10       6
6    11  CSK    10       6
1    11   MI     8       8
5    10  CSK     6      10
7    12  CSK     4      12

### To print the values(rows) in dataframe

In [9]:
a = ipl.values
print(a)
print(type(a))

[[10 'CSK' 11 5]
 [11 'MI' 8 8]
 [12 'MI' 10 6]
 [11 'SRH' 15 1]
 [12 'KKR' 11 5]
 [10 'CSK' 6 10]
 [11 'CSK' 10 6]
 [12 'CSK' 4 12]]
<class 'numpy.ndarray'>

## Convert dataframe to CSV

In [13]:
ipl.to_csv("uma.csv")

### Convert DataFrame to HTML

In [16]:
ipl.to_html("uma.html")

### Convert DataFrame to JSON

In [15]:
ipl.to_json("uma.json")

## Sorting

In [18]:
print(ipl.sort_values(by=["wins"], ascending= False))

   year team  wins  losses
3    11  SRH    15       1
0    10  CSK    11       5
4    12  KKR    11       5
2    12   MI    10       6
6    11  CSK    10       6
1    11   MI     8       8
5    10  CSK     6      10
7    12  CSK     4      12

### Sorting by Multiple indexes

In [21]:
print(ipl.sort_values(by=["wins","year"], ascending= False))

   year team  wins  losses
3    11  SRH    15       1
4    12  KKR    11       5
0    10  CSK    11       5
2    12   MI    10       6
6    11  CSK    10       6
1    11   MI     8       8
5    10  CSK     6      10
7    12  CSK     4      12

## Returns the largest values for wins Records of count3

In [19]:
ipl.nlargest(3,"wins")

   year team  wins  losses
3    11  SRH    15       1
0    10  CSK    11       5
4    12  KKR    11       5

## Returns the smallest values for wins Records of count3

In [20]:
ipl.nsmallest(3,"wins")

   year team  wins  losses
7    12  CSK     4      12
5    10  CSK     6      10
1    11   MI     8       8

In [28]:
def create_dataframe():
   '''
   Create a pandas dataframe called 'olympic_medal_counts_df' containing
   the data from the table of 2014 Sochi winter olympics medal counts. 
 
   The columns for this dataframe should be called
   'country_name', 'gold', 'silver', and 'bronze'. 
 
   There is no need to  specify row indexes for this dataframe
   (in this case, the rows will automatically be assigned numbered indexes).
 
   '''
 
   countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                'Austria', 'France', 'Poland', 'China', 'Korea',
                'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']
 
   gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
   silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
   bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
   # your code here
   olympic_medal_counts_df = pd.DataFrame(columns=[countries, gold, silver,bronze], indexes=[0,1,2,3] )
 
   return olympic_medal_counts_df

In [32]:
create_dataframe()

         Russian Fed. Norway Canada United States Netherlands Germany  \
13 11 9           NaN    NaN    NaN           NaN         NaN     NaN
11 5  10          NaN    NaN    NaN           NaN         NaN     NaN
10 10 5           NaN    NaN    NaN           NaN         NaN     NaN
9  7  12          NaN    NaN    NaN           NaN         NaN     NaN
8  7  9           NaN    NaN    NaN           NaN         NaN     NaN
   6  5           NaN    NaN    NaN           NaN         NaN     NaN
6  3  2           NaN    NaN    NaN           NaN         NaN     NaN
5  0  1           NaN    NaN    NaN           NaN         NaN     NaN
4  8  5           NaN    NaN    NaN           NaN         NaN     NaN
   4  7           NaN    NaN    NaN           NaN         NaN     NaN
   1  1           NaN    NaN    NaN           NaN         NaN     NaN
3  4  2           NaN    NaN    NaN           NaN         NaN     NaN
   3  2           NaN    NaN    NaN           NaN         NaN     NaN
2  7  6           NaN    NaN    NaN           NaN         NaN     NaN
   4  2           NaN    NaN    NaN           NaN         NaN     NaN
   2  4           NaN    NaN    NaN           NaN         NaN     NaN
1  4  3           NaN    NaN    NaN           NaN         NaN     NaN
   3  1           NaN    NaN    NaN           NaN         NaN     NaN
   1  2           NaN    NaN    NaN           NaN         NaN     NaN
   0  1           NaN    NaN    NaN           NaN         NaN     NaN
      0           NaN    NaN    NaN           NaN         NaN     NaN
0  2  6           NaN    NaN    NaN           NaN         NaN     NaN
      2           NaN    NaN    NaN           NaN         NaN     NaN
      1           NaN    NaN    NaN           NaN         NaN     NaN
   1  0           NaN    NaN    NaN           NaN         NaN     NaN
   0  1           NaN    NaN    NaN           NaN         NaN     NaN

         Switzerland Belarus Austria France  ... Japan Finland Great Britain  \
13 11 9          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
11 5  10         NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
10 10 5          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
9  7  12         NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
8  7  9          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   6  5          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
6  3  2          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
5  0  1          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
4  8  5          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   4  7          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   1  1          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
3  4  2          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   3  2          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
2  7  6          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   4  2          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   2  4          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
1  4  3          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   3  1          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   1  2          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   0  1          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
      0          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
0  2  6          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
      2          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
      1          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   1  0          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN
   0  1          NaN     NaN     NaN    NaN  ...   NaN     NaN           NaN

         Ukraine Slovakia Italy Latvia Australia Croatia Kazakhstan
13 11 9      NaN      NaN   NaN    NaN       NaN     NaN        NaN
11 5  10     NaN      NaN   NaN    NaN       NaN     NaN        NaN
10 10 5      NaN      NaN   NaN    NaN       NaN     NaN        NaN
9  7  12     NaN      NaN   NaN    NaN       NaN     NaN        NaN
8  7  9      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   6  5      NaN      NaN   NaN    NaN       NaN     NaN        NaN
6  3  2      NaN      NaN   NaN    NaN       NaN     NaN        NaN
5  0  1      NaN      NaN   NaN    NaN       NaN     NaN        NaN
4  8  5      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   4  7      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   1  1      NaN      NaN   NaN    NaN       NaN     NaN        NaN
3  4  2      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   3  2      NaN      NaN   NaN    NaN       NaN     NaN        NaN
2  7  6      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   4  2      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   2  4      NaN      NaN   NaN    NaN       NaN     NaN        NaN
1  4  3      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   3  1      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   1  2      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   0  1      NaN      NaN   NaN    NaN       NaN     NaN        NaN
      0      NaN      NaN   NaN    NaN       NaN     NaN        NaN
0  2  6      NaN      NaN   NaN    NaN       NaN     NaN        NaN
      2      NaN      NaN   NaN    NaN       NaN     NaN        NaN
      1      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   1  0      NaN      NaN   NaN    NaN       NaN     NaN        NaN
   0  1      NaN      NaN   NaN    NaN       NaN     NaN        NaN

[26 rows x 26 columns]

In [36]:
def create_dataframe():
   '''
   Create a pandas dataframe called 'olympic_medal_counts_df' containing
   the data from the table of 2014 Sochi winter olympics medal counts. 
 
   The columns for this dataframe should be called
   'country_name', 'gold', 'silver', and 'bronze'. 
 
   There is no need to  specify row indexes for this dataframe
   (in this case, the rows will automatically be assigned numbered indexes).
 
   '''
 
   countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                'Austria', 'France', 'Poland', 'China', 'Korea',
                'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']
 
   gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
   silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
   bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
   # your code here
   d1 = {'gold':gold, 'silver':silver,'bronze':bronze}
   olympic_medal_counts_df = pd.DataFrame(d1,index=countries )
 
   return olympic_medal_counts_df

In [37]:
create_dataframe()

                gold  silver  bronze
Russian Fed.      13      11       9
Norway            11       5      10
Canada            10      10       5
United States      9       7      12
Netherlands        8       7       9
Germany            8       6       5
Switzerland        6       3       2
Belarus            5       0       1
Austria            4       8       5
France             4       4       7
Poland             4       1       1
China              3       4       2
Korea              3       3       2
Sweden             2       7       6
Czech Republic     2       4       2
Slovenia           2       2       4
Japan              1       4       3
Finland            1       3       1
Great Britain      1       1       2
Ukraine            1       0       1
Slovakia           1       0       0
Italy              0       2       6
Latvia             0       2       2
Australia          0       2       1
Croatia            0       1       0
Kazakhstan         0       0       1

In [38]:
def create_dataframe1():
   '''
   Create a pandas dataframe called 'olympic_medal_counts_df' containing
   the data from the table of 2014 Sochi winter olympics medal counts. 
 
   The columns for this dataframe should be called
   'country_name', 'gold', 'silver', and 'bronze'. 
 
   There is no need to  specify row indexes for this dataframe
   (in this case, the rows will automatically be assigned numbered indexes).
 
   '''
 
   countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                'Austria', 'France', 'Poland', 'China', 'Korea',
                'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']
 
   gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
   silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
   bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
   # your code here
   d1 = {'gold':gold, 'silver':silver,'bronze':bronze}
   olympic_medal_counts_df = pd.DataFrame(d1)
 
   return olympic_medal_counts_df

In [40]:
create_dataframe1()

    gold  silver  bronze
0     13      11       9
1     11       5      10
2     10      10       5
3      9       7      12
4      8       7       9
5      8       6       5
6      6       3       2
7      5       0       1
8      4       8       5
9      4       4       7
10     4       1       1
11     3       4       2
12     3       3       2
13     2       7       6
14     2       4       2
15     2       2       4
16     1       4       3
17     1       3       1
18     1       1       2
19     1       0       1
20     1       0       0
21     0       2       6
22     0       2       2
23     0       2       1
24     0       1       0
25     0       0       1

In [ ]:
data=[countries,gold,silver,bronze]
   olympic_medal_counts_df = pd.DataFrame(data).transpose()

In [ ]:
def create_dataframe1():
   '''
   Create a pandas dataframe called 'olympic_medal_counts_df' containing
   the data from the table of 2014 Sochi winter olympics medal counts. 
 
   The columns for this dataframe should be called
   'country_name', 'gold', 'silver', and 'bronze'. 
 
   There is no need to  specify row indexes for this dataframe
   (in this case, the rows will automatically be assigned numbered indexes).
 
   '''
 
   countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                'Austria', 'France', 'Poland', 'China', 'Korea',
                'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']
 
   gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
   silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
   bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
   # your code here
   data=[countries,gold,silver,bronze]
   olympic_medal_counts_df = pd.DataFrame(data).transpose()

 
   return olympic_medal_counts_df

In [41]:
def create_dataframe1():
   '''
   Create a pandas dataframe called 'olympic_medal_counts_df' containing
   the data from the table of 2014 Sochi winter olympics medal counts. 
 
   The columns for this dataframe should be called
   'country_name', 'gold', 'silver', and 'bronze'. 
 
   There is no need to  specify row indexes for this dataframe
   (in this case, the rows will automatically be assigned numbered indexes).
 
   '''
 
   countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                'Austria', 'France', 'Poland', 'China', 'Korea',
                'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']
 
   gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
   silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
   bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
   # your code here
   d1 = {'gold':gold, 'silver':silver,'bronze':bronze}
   olympic_medal_counts_df = pd.DataFrame(d1, index=countries)
 
   return olympic_medal_counts_df

In [42]:
create_dataframe1()

                gold  silver  bronze
Russian Fed.      13      11       9
Norway            11       5      10
Canada            10      10       5
United States      9       7      12
Netherlands        8       7       9
Germany            8       6       5
Switzerland        6       3       2
Belarus            5       0       1
Austria            4       8       5
France             4       4       7
Poland             4       1       1
China              3       4       2
Korea              3       3       2
Sweden             2       7       6
Czech Republic     2       4       2
Slovenia           2       2       4
Japan              1       4       3
Finland            1       3       1
Great Britain      1       1       2
Ukraine            1       0       1
Slovakia           1       0       0
Italy              0       2       6
Latvia             0       2       2
Australia          0       2       1
Croatia            0       1       0
Kazakhstan         0       0       1

# Getting the column from the column number

In [50]:
print(ipl.columns[0:3])

Index(['year', 'team', 'wins'], dtype='object')

In [47]:
print(ipl[['wins','year']])

   wins  year
0    11    10
1     8    11
2    10    12
3    15    11
4    11    12
5     6    10
6    10    11
7     4    12

In [52]:
print(ipl.iloc[:,[1,3]])

  team  losses
0  CSK       5
1   MI       8
2   MI       6
3  SRH       1
4  KKR       5
5  CSK      10
6  CSK       6
7  CSK      12

In [53]:
print(ipl.iloc[[0]])

   year team  wins  losses
0    10  CSK    11       5

In [54]:
print(ipl.iloc[[1,3,2]])

   year team  wins  losses
1    11   MI     8       8
3    11  SRH    15       1
2    12   MI    10       6

In [55]:
print(ipl.iloc[:3])

   year team  wins  losses
0    10  CSK    11       5
1    11   MI     8       8
2    12   MI    10       6

In [56]:
print(ipl[ipl.columns[0:2]])

   year team
0    10  CSK
1    11   MI
2    12   MI
3    11  SRH
4    12  KKR
5    10  CSK
6    11  CSK
7    12  CSK

## drop the column by column name temporarily

In [57]:
ipl.drop(columns="losses")

   year team  wins
0    10  CSK    11
1    11   MI     8
2    12   MI    10
3    11  SRH    15
4    12  KKR    11
5    10  CSK     6
6    11  CSK    10
7    12  CSK     4

## dropping column permanently

In [ ]:
ipl.drop(columns='losses', inplace=True)

## Removing Rows by Index

In [58]:
ipl.drop(index=0)

   year team  wins  losses
1    11   MI     8       8
2    12   MI    10       6
3    11  SRH    15       1
4    12  KKR    11       5
5    10  CSK     6      10
6    11  CSK    10       6
7    12  CSK     4      12

## Getting unique values for a column

In [59]:
print(ipl["team"].unique())

['CSK' 'MI' 'SRH' 'KKR']