In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import json

In [3]:
api_key = ""
city=input()
url = ""
response = requests.get(url)
data = json.loads(response.text)

KeyboardInterrupt: ignored

In [4]:
d1 = {'ID': [1,2,3,4],
      'age': [10,11,12,30]}
df1= pd.DataFrame(d1)
df1

   ID  age
0   1   10
1   2   11
2   3   12
3   4   30

In [5]:
data1 = {
   'ID': ['1','2','3','4','5'],
   'Feature1': ['A','B','C','D','E'],
   'Feature2': ['L','M','N',"O",'P']
}


d2 = {
   'ID': ['1','3','6','7','8'],
   'Feature1': ['AB','BC','CD','DE','EF'],
   'Feature2': ['KL','LM','M-N',"N-O",'O-P']
}

In [6]:
df1 = pd.DataFrame(data1, columns=["ID","Feature1","Feature2"])

In [7]:
df1

  ID Feature1 Feature2
0  1        A        L
1  2        B        M
2  3        C        N
3  4        D        O
4  5        E        P

In [8]:
df2 = pd.DataFrame(d2, columns=["ID","Feature1", "Feature2"])

In [9]:
df2

  ID Feature1 Feature2
0  1       AB       KL
1  3       BC       LM
2  6       CD      M-N
3  7       DE      N-O
4  8       EF      O-P

## Difference between concat, merge and Join

## Concat
### what ever index is there straight away attach it in new dataframe

In [10]:
# since same columns for both dataframes we can concat
df3 = pd.concat([df1, df2])

In [11]:
df3

  ID Feature1 Feature2
0  1        A        L
1  2        B        M
2  3        C        N
3  4        D        O
4  5        E        P
0  1       AB       KL
1  3       BC       LM
2  6       CD      M-N
3  7       DE      N-O
4  8       EF      O-P

In [12]:
# If two different columns are there in two df's
# a columns will be added horizantally

In [13]:
d5 ={
   'ID': ['1','3','6','7','8'],
   'Feature1': ['AB','BC','CD','DE','EF'],
   'Feature2': ['KL','LM','M-N',"N-O",'O-P']
}

In [14]:
df5 = pd.DataFrame(d5, columns=["ID1","Feature1","Feature22"])

In [15]:
df5

   ID1 Feature1 Feature22
0  NaN       AB       NaN
1  NaN       BC       NaN
2  NaN       CD       NaN
3  NaN       DE       NaN
4  NaN       EF       NaN

In [16]:
df6 = pd.concat([df1,df5])
print(df6)

    ID Feature1 Feature2  ID1 Feature22
0    1        A        L  NaN       NaN
1    2        B        M  NaN       NaN
2    3        C        N  NaN       NaN
3    4        D        O  NaN       NaN
4    5        E        P  NaN       NaN
0  NaN       AB      NaN  NaN       NaN
1  NaN       BC      NaN  NaN       NaN
2  NaN       CD      NaN  NaN       NaN
3  NaN       DE      NaN  NaN       NaN
4  NaN       EF      NaN  NaN       NaN

In [17]:
## if the data of 2nd dataframe contain matching single column
## will be attached vertically just like the above

In [18]:
## if both dataframe does not match any columns then all will be displayed as NAN

In [19]:
d8 ={
   'ID': ['1','3','6','7','8'],
   'Feature1': ['AB','BC','CD','DE','EF'],
   'Feature2': ['KL','LM','M-N',"N-O",'O-P']
}

data9 = {
   'ID1': ['1','2','3','4','5'],
   'Feature11': ['A','B','C','D','E'],
   'Feature12': ['L','M','N',"O",'P']
}

In [20]:
df8 = pd.DataFrame(d8)
df9 = pd.DataFrame(data9)

In [21]:
df10 = pd.concat([df8,df9])

### To Make the new indexes for the concat thing, add the parameter index=True and should be used only for concat

In [22]:
df11 = pd.concat([df1,df2], ignore_index=True)

In [23]:
df11

  ID Feature1 Feature2
0  1        A        L
1  2        B        M
2  3        C        N
3  4        D        O
4  5        E        P
5  1       AB       KL
6  3       BC       LM
7  6       CD      M-N
8  7       DE      N-O
9  8       EF      O-P

## Keys is like index for each dataFrame

In [24]:
df12 = pd.concat([df1,df2],keys=["1st","2nd"])
print(df12)
print(df12.loc['1st'].iloc[[0,1]])

      ID Feature1 Feature2
1st 0  1        A        L
    1  2        B        M
    2  3        C        N
    3  4        D        O
    4  5        E        P
2nd 0  1       AB       KL
    1  3       BC       LM
    2  6       CD      M-N
    3  7       DE      N-O
    4  8       EF      O-P
  ID Feature1 Feature2
0  1        A        L
1  2        B        M

## Sort the column Names Alphabetically

In [25]:
df13 = pd.concat([df1,df2], sort=True)
df13

  Feature1 Feature2 ID
0        A        L  1
1        B        M  2
2        C        N  3
3        D        O  4
4        E        P  5
0       AB       KL  1
1       BC       LM  3
2       CD      M-N  6
3       DE      N-O  7
4       EF      O-P  8

## Adding the column in the dataframe

In [26]:
df3["feature3"] = df3["Feature1"] + df3["Feature2"]

In [27]:
df3

  ID Feature1 Feature2 feature3
0  1        A        L       AL
1  2        B        M       BM
2  3        C        N       CN
3  4        D        O       DO
4  5        E        P       EP
0  1       AB       KL     ABKL
1  3       BC       LM     BCLM
2  6       CD      M-N    CDM-N
3  7       DE      N-O    DEN-O
4  8       EF      O-P    EFO-P

In [28]:
display(df3)

  ID Feature1 Feature2 feature3
0  1        A        L       AL
1  2        B        M       BM
2  3        C        N       CN
3  4        D        O       DO
4  5        E        P       EP
0  1       AB       KL     ABKL
1  3       BC       LM     BCLM
2  6       CD      M-N    CDM-N
3  7       DE      N-O    DEN-O
4  8       EF      O-P    EFO-P

# JOIN

### JOins are different from what joins are in SQL

In [29]:
d15 ={
   'ID': ['1','3','6','7','8'],
   'Feature1': ['AB','BC','CD','DE','EF'],
   'Feature2': ['KL','LM','M-N',"N-O",'O-P']
}


d16 = {
   'ID1': ['1','2','3','4','5'],
   'Feature11': ['A','B','C','D','E'],
   'Feature12': ['L','M','N',"O",'P']
}

In [30]:
df15 = pd.DataFrame(d15)
df16 = pd.DataFrame(d16)

In [31]:
j1 = df15.join(df16['Feature11'])
j1

  ID Feature1 Feature2 Feature11
0  1       AB       KL         A
1  3       BC       LM         B
2  6       CD      M-N         C
3  7       DE      N-O         D
4  8       EF      O-P         E

# Merge 
## Merge will work like JOINS in SQL, be aware

In [32]:
d17 ={
   'ID': ['1','3','6','7','8'],
   'Feature1': ['AB','BC','CD','DE','EF'],
   'Feature2': ['KL','LM','M-N',"N-O",'O-P']
}


d18 = {
   'ID': ['1','2','3','4','5'],
   'Feature1': ['A','B','C','D','E'],
   'Feature2': ['L','M','N',"O",'P']
}

In [33]:
df17 = pd.DataFrame(d17)
df18 = pd.DataFrame(d18)

### Inner Join

In [34]:
df_merge_o = pd.merge(df17,df18,on="ID",how="inner")
df_merge_o

  ID Feature1_x Feature2_x Feature1_y Feature2_y
0  1         AB         KL          A          L
1  3         BC         LM          C          N

## Right Join

In [35]:
df_merge_r = pd.merge(df17,df18,on="ID",how="right")
df_merge_r

  ID Feature1_x Feature2_x Feature1_y Feature2_y
0  1         AB         KL          A          L
1  2        NaN        NaN          B          M
2  3         BC         LM          C          N
3  4        NaN        NaN          D          O
4  5        NaN        NaN          E          P

## Left Join

In [36]:
df_merge_l = pd.merge(df17,df18,on='ID', how="left")
df_merge_l

  ID Feature1_x Feature2_x Feature1_y Feature2_y
0  1         AB         KL          A          L
1  3         BC         LM          C          N
2  6         CD        M-N        NaN        NaN
3  7         DE        N-O        NaN        NaN
4  8         EF        O-P        NaN        NaN

In [37]:
df_merge_l = pd.merge(df17,df18,on="ID")
df_merge_l

  ID Feature1_x Feature2_x Feature1_y Feature2_y
0  1         AB         KL          A          L
1  3         BC         LM          C          N

## concat
#### can have common or differnt
## join
#### one differnt col atleast
## Merge
#### atleast one common column

## Based on the combinations we get the rows count

In [38]:
df_merge_l = pd.merge(df17,df18, how="cross")
df_merge_l

   ID_x Feature1_x Feature2_x ID_y Feature1_y Feature2_y
0     1         AB         KL    1          A          L
1     1         AB         KL    2          B          M
2     1         AB         KL    3          C          N
3     1         AB         KL    4          D          O
4     1         AB         KL    5          E          P
5     3         BC         LM    1          A          L
6     3         BC         LM    2          B          M
7     3         BC         LM    3          C          N
8     3         BC         LM    4          D          O
9     3         BC         LM    5          E          P
10    6         CD        M-N    1          A          L
11    6         CD        M-N    2          B          M
12    6         CD        M-N    3          C          N
13    6         CD        M-N    4          D          O
14    6         CD        M-N    5          E          P
15    7         DE        N-O    1          A          L
16    7         DE        N-O    2          B          M
17    7         DE        N-O    3          C          N
18    7         DE        N-O    4          D          O
19    7         DE        N-O    5          E          P
20    8         EF        O-P    1          A          L
21    8         EF        O-P    2          B          M
22    8         EF        O-P    3          C          N
23    8         EF        O-P    4          D          O
24    8         EF        O-P    5          E          P

In [39]:
df_merge_l = pd.merge(df17,df18, how="cross")
df_merge_l

   ID_x Feature1_x Feature2_x ID_y Feature1_y Feature2_y
0     1         AB         KL    1          A          L
1     1         AB         KL    2          B          M
2     1         AB         KL    3          C          N
3     1         AB         KL    4          D          O
4     1         AB         KL    5          E          P
5     3         BC         LM    1          A          L
6     3         BC         LM    2          B          M
7     3         BC         LM    3          C          N
8     3         BC         LM    4          D          O
9     3         BC         LM    5          E          P
10    6         CD        M-N    1          A          L
11    6         CD        M-N    2          B          M
12    6         CD        M-N    3          C          N
13    6         CD        M-N    4          D          O
14    6         CD        M-N    5          E          P
15    7         DE        N-O    1          A          L
16    7         DE        N-O    2          B          M
17    7         DE        N-O    3          C          N
18    7         DE        N-O    4          D          O
19    7         DE        N-O    5          E          P
20    8         EF        O-P    1          A          L
21    8         EF        O-P    2          B          M
22    8         EF        O-P    3          C          N
23    8         EF        O-P    4          D          O
24    8         EF        O-P    5          E          P

# Group BY

In [40]:
titanic = pd.read_csv("https://raw.githubusercontent.com/umashankar43631/Training-datasets_Nethaji/main/titanic_train.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [41]:
titanic.shape

(891, 12)

In [42]:
df_group_sex = titanic.groupby('Sex')
df_group_sex.apply(display)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Empty DataFrame
Columns: []
Index: []

In [43]:
df_group_sex.ngroups

2

In [44]:
titanic['Sex'].unique()

array(['male', 'female'], dtype=object)

In [45]:
df_group_sex.ngroups
df_group_sex.size()

Sex
female    314
male      577
dtype: int64

In [46]:
df_group_pclass = titanic.groupby('Pclass')
display(df_group_pclass)